<section>
<h1>Subscribe</h1>
  <ul id="recent_posts">
    <li class="post">
      All Posts:
      </br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="http://feeds.feedburner.com/hisword-net">RSS</a>
      &nbsp; &nbsp;
      <a href="http://feedburner.google.com/fb/a/mailverify?uri=hisword-net&amp;loc=en_US">email</a>
    </li>
    <li class="post">
      Daily Bible Reading (read through the entire Bible in a year):
      </br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="http://feeds.feedburner.com/bibleinayear-hisword-net">RSS</a>
      &nbsp; &nbsp;
      <a href="http://feedburner.google.com/fb/a/mailverify?uri=bibleinayear-hisword-net&amp;loc=en_US">email</a>
    </li>
    <li class="post">
      Daily Bible Reading - Chronological (read through the entire Bible in a year, in chronological order):
      </br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="http://feeds.feedburner.com/chronological-bibleinayear-hisword-net">RSS</a>
      &nbsp; &nbsp;
      <a href="http://feedburner.google.com/fb/a/mailverify?uri=chronological-bibleinayear-hisword-net&amp;loc=en_US">email</a>
    </li>
    <li class="post">
      Verse of the Day:
      </br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="http://feeds.feedburner.com/verseoftheday-hisword-net">RSS</a>
      &nbsp; &nbsp;
      <a href="http://feedburner.google.com/fb/a/mailverify?uri=verseoftheday-hisword-net&amp;loc=en_US">email</a>
    </li>
  </ul>

{% comment %}
<p>All Posts:
</br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://feeds.feedburner.com/hisword-net">RSS</a>
&nbsp; &nbsp;
<a href="http://feedburner.google.com/fb/a/mailverify?uri=hisword-net&amp;loc=en_US">email</a>
</p>

<p>Daily Bible Reading (read through the entire Bible in a year):
</br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://feeds.feedburner.com/bibleinayear-hisword-net">RSS</a>
&nbsp; &nbsp;
<a href="http://feedburner.google.com/fb/a/mailverify?uri=bibleinayear-hisword-net&amp;loc=en_US">email</a>
</p>

<p>Daily Bible Reading - Chronological (read through the entire Bible in a year, in chronological order):
</br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://feeds.feedburner.com/chronological-bibleinayear-hisword-net">RSS</a>
&nbsp; &nbsp;
<a href="http://feedburner.google.com/fb/a/mailverify?uri=chronological-bibleinayear-hisword-net&amp;loc=en_US">email</a>
</p>

<p>Verse of the Day:
</br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://feeds.feedburner.com/verseoftheday-hisword-net">RSS</a>
&nbsp; &nbsp;
<a href="http://feedburner.google.com/fb/a/mailverify?uri=verseoftheday-hisword-net&amp;loc=en_US">email</a>
</p>
{% endcomment %}
</section>
