Ge
Ex
Le
Nu
De
Jos
Jg
Ru
1Sa
2Sa
1Ki
2Ki
1Ch
2Ch
Ezr
Ne
Es
Job
Ps
Pr
Ec
Song
Isa
Jer
La
Eze
Da
Ho
Joe
Am
Ob
Jon
Mic
Na
Hab
Zep
Hag
Zec
Mal
Mt
Mr
Lu
Joh
Ac
Ro
1Co
2Co
Ga
Eph
Php
Col
1Th
2Th
1Ti
2Ti
Tit
Phm
Heb
Jas
1Pe
2Pe
1Jo
2Jo
3Jo
Jude
Re
zFeb
